/* @import 'react-big-calendar/lib/sass/styles'; */

.rbc-event {
  /* background-color: rgba(0, 0, 0, 0); */
  margin: 0;
  border: 0 rgba(0, 0, 0, 0);
  padding: 0;
}

.rbc-event.rbc-selected {
  /* background-color: rgba(0, 0, 0, 0); */
  margin: 0;
  padding: 0;
}

.rbc-event-label {
  display: none;
}

.rbc-time-view {
  flex: none;
  border: 1px solid #373A40;
  border-radius: 5px;
}

.rbc-events-container {
  background-color: rgba(0, 0, 0, 0);
  border: #373A40;
}

.rbc-today {
  background-color: #373A40;
}

.rbc-now {
  background-color: #373A40;
}

.rbc-time-header {
  background-color: rgba(0, 0, 0, 0);
}

.rbc-timeslot-group {
  border-bottom: 1px #373A40;
}

.rbc-time-content {
  border-left: 1px #373A40;
  border-top: 2px #373A40;
}

.calendar {
  /* background-color: rgba(0, 0, 0, 0); */
  margin: 0;
  padding: 0;
  border: 1px, solid, #373A40;
}

.rbc-slot-selection {
  background-color: rgba(0, 255, 0, 1);
}