/* @import 'react-big-calendar/lib/sass/styles'; */

.rbc-event {
  /* background-color: rgba(0, 0, 0, 0); */
  margin: 0;
  border: 0 rgba(0, 0, 0, 0);
  padding: 0;
}

.rbc-event.rbc-selected {
  /* background-color: rgba(0, 0, 0, 0); */
  margin: 0;
  padding: 0;
}


.rbc-event-label {
  display: none;
}

.rbc-time-view {
  flex: none;
}

.rbc-events-container {
  background-color: rgba(0, 0, 0, 0);
}

.first-visit {
  background-color: green;
}

.follow-up {
  background-color: blue;
}

.emergency {
  background-color: red;
}

.pediatrics {
  background-color: yellow;
}

.maternity {
  background-color: orange;
}