.notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: xx-large;
}

.title {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 0;
}

.text {
    text-align: center;
}